---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectSite from "../components/Project.jsx";
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/lexend";
---

<!doctype html>
<html
	lang="en"
	data-theme="mytheme">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
		<ViewTransitions />
	</head>
	<body class="font-serif">
		<Header />
		<main>
			<ProjectSite />
		</main>
		<Footer />
	</body></html
>
