---
const today = new Date();
import { SiAstro } from "react-icons/si";
---

<footer class="md:mx-60">
	<div class="flex flex-col gap-2 text-center justify-center p-10">
		<div class="bg-secondary w-full h-[2px] mt-2"></div>
		<h1 class="flex justify-center items-center gap-2">
			&copy; {today.getFullYear()} Made with <SiAstro size={24} />
		</h1>
	</div>
</footer>
