---
import HeaderLink from "./HeaderLink.astro";
import { MdHome, MdOutlineWeb, MdEmail } from "react-icons/md";
---

<header>
	<nav class="hidden md:flex flex-col justify-center mx-72">
		<div class="flex justify-center text-center items-center pt-8 gap-4">
			<HeaderLink href="/"><MdHome size={32} /> </HeaderLink>
			<HeaderLink href="/project"><MdOutlineWeb size={32} /> </HeaderLink>
			<HeaderLink href="/contact"><MdEmail size={32} /> </HeaderLink>
		</div>
		<div class="bg-secondary w-full h-[2px] mt-4"></div>
	</nav>
	<nav class="btm-nav md:hidden bg-secondary z-10">
		<HeaderLink href="/project"><MdOutlineWeb size={32} /> </HeaderLink>
		<HeaderLink href="/"><MdHome size={32} /> </HeaderLink>
		<HeaderLink href="/contact"><MdEmail size={32} /> </HeaderLink>
	</nav>
</header>
